<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/GXdivision.css">
    <title>广西视频专区</title>
</head>
<body>
    
	<div class="app" id="GXdivision" >
        <div class="navbar">
            <div>
        		<ul> 
        			<li 
                        v-for="(item, index) in navbars"
                        @click="tabChange(index, item)"
                         :class="[{active: index === wrapperI}]"
                    >
                        <a v-if="item == '推荐'">
                            推荐
                        </a>
                        <a v-if="item == '橙红年代'">
                            橙红年代
                        </a>
                        <a v-if="item == '精选视频'">
                            精选视频
                        </a>
                        <a v-if="item == '一天一片'">
                            一天一片
                        </a>
                        <a v-if="item == '权益特惠'">
                            权益特惠
                            <img  src="img/hot.png">
                        </a>

                    </li>
        		</ul>
                
            </div>            
        </div>
        <div class="wrapper"> 
            <div class="wrapperDiv">
                <div class="wrapperUl"> 
                    <span 
                        class="wrapperLl" 
                    >
                        <iframe src="https://m.miguvideo.com/wap/resource/migu/miguH5/index.jsp?nodeId=70043613"  frameborder="0" ></iframe>   
                    </span>
                    <!-- 权益特惠 -->
                    <span class="equity" >
                        <div 
                            class="discounts"
                            v-for="(item, index) in discounts" 
                            :onclick=item.link
                            @click="equityChange(index, item)"
                        >
                            <img :src=item.imgUrl>
                            <p>
                                <span>{{item.title}}</span>
                                <span>{{item.time}}</span>
                            </p>
                        </div>
                    </span>
                </div>
                
            </div>
        </div>
    </div>   
</body>
<!-- <script src="/wap/resource/migu/subject/js/jQuery-3.1.1.min.js"></script>
<script src="js/plugins/vue.js"></script> -->
<script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript" src="./js/GXdivision.js"></script>

<script>
    //声明_czc对象:
    var _czc = _czc || [];
    _czc.push(["_setAccount", "1274830755"]);

        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274830755'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274830755%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));

        window.onload = function(){
        _czc.push(['_trackEvent', '广西视频专区', '页面刷新']);
    }
    // 获取浏览器高度
    iframeW = $(document).width();
    iframeH = $(document).height() - 44;
    // console.info(iframeH+44)
    $('iframe').height(iframeH);
</script>
</html>